<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCTGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OCTGui.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="OCTProZ" serializeAs="String">
                <value>TCP:localhost:5901</value>
            </setting>
            <setting name="LaserDiode" serializeAs="String">
                <value>COM:COM4:9600:None:8:One</value>
            </setting>
            <setting name="OctActivationStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CamaraFPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LogSaveFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LogfileName" serializeAs="String">
                <value>c:\smkdfnlkjdnh</value>
            </setting>
            <setting name="GPIO_Demo" serializeAs="String">
                <value>COM:COM4:9600:None:8:One</value>
            </setting>
            <setting name="OCTProZTimeOut" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LaserDiodeTimeOut" serializeAs="String">
                <value>10000000</value>
            </setting>
        </OCTGui.Properties.Settings>
    </userSettings>
</configuration>